.pop-up-button {
	display: inline;
    padding: 0;
    border: none;
    background: transparent;
    color: #006798;
    text-decoration: underline;
    cursor: pointer;
}
.popup-overlay {
	/*Hides pop-up when there is no "active" class*/
	visibility: hidden;
	position: absolute;
	background: #ffffff;
	border: 3px solid #666666;
	width: 50%;
	height: 50%;
	left: 25%;
}

.popup-overlay.active {
	/*displays pop-up when "active" class is present*/
	visibility: visible;
	text-align: center;
}
.v--modal-block-scroll {
	overflow: hidden;
	width: 100vw;
}
.v--modal-overlay {
	position: fixed;
	box-sizing: border-box;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
	z-index: 999;
	opacity: 1;
}
.v--modal-overlay.scrollable {
	height: 100%;
	min-height: 100vh;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.v--modal-overlay .v--modal-background-click {
	width: 100%;
	min-height: 100%;
	height: auto;
}
.v--modal-overlay .v--modal-box {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}
.v--modal-overlay.scrollable .v--modal-box {
  	margin-bottom: 2px;
}
.v--modal {
	background-color: white;
	text-align: left;
	border-radius: 3px;
	box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4);
	padding: 0;
}
.v--modal.v--modal-fullscreen {
	width: 100vw;
	height: 100vh;
	margin: 0;
	left: 0;
	top: 0;
}
.v--modal-top-right {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
.overlay-fade-enter-active,
.overlay-fade-leave-active {
  	transition: all 0.2s;
}
.overlay-fade-enter,
.overlay-fade-leave-active {
  	opacity: 0;
}
.nice-modal-fade-enter-active,
.nice-modal-fade-leave-active {
  	transition: all 0.4s;
}
.nice-modal-fade-enter,
.nice-modal-fade-leave-active {
	opacity: 0;
	transform: translateY(-20px);
}